@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Hind', sans-serif;
  color: white;
  background: #101010;
  user-select: none;
  line-height: 1rem;
}

canvas {
  touch-action: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background: #101010;
}

.fullscreen.notready {
  color: #606060;
}

.fullscreen.ready > div {
  cursor: pointer;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.over {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem;
  color: white;
  font-size: 12px;
}
.title {
  text-transform: uppercase;
}
